@model List<ApiProjeKampi.WebUI.Dtos.ProductDtos.ResultProductDto>

@if (Model != null)
{
    <div class="tab-content mt-5" data-aos="fade-up" data-aos-delay="200">

        <!-- TÜMÜ -->
        <div class="tab-pane fade active show" id="menu-all">
            <div class="row gy-5">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 menu-item">
                        <img src="@item.ImageUrl" class="menu-img img-fluid" style="width: 500px; height: 200px;" />
                        <h4>@item.Name</h4>
                        <p>@item.Description</p>
                        <p>@item.Price ₺</p>
                    </div>
                }
            </div>
        </div>

        <!-- CATEGORY FILTER -->
        @foreach (var categoryId in Model.Where(x => x.CategoryId != 0)
                      .Select(x => x.CategoryId)
                      .Distinct())
        {
            <div class="tab-pane fade" id="menu-@categoryId">
                <div class="row gy-5">

                    @foreach (var item in Model.Where(x => x.CategoryId == categoryId))
                    {
                        <div class="col-lg-4 menu-item">
                            <img src="@item.ImageUrl" class="menu-img img-fluid" />
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                            <p>@item.Price ₺</p>
                        </div>
                    }

                </div>
            </div>
        }

    </div>
}